*{padding: 0; margin: 0;font-family: 'Roboto', arial;}

body {
    background-color: #1f2937;
    text-align: center;
}

/* Header */
.header {
    display: flex;
    color: #f9faf8;
    font-style: bold;
    width: 100%;
    height: 0px;
    align-items: center;
}

.headerimg {
    width: 84px;
    height: 84px;
    margin-right: auto;
} 

.headerlinks {
    width:50%;
    text-align:end;
}

.headerlinks a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    height: 40px;
    padding: 30px;
    font-size: 30px;
}

/* Intro */ 
.intro {
    display: flex;
    background-color: #1f2937;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.introText {
    width:50%;
    text-align: left;
}

.introText h1 {
    font-size: 120px;
}

.introText p {
    font-size: 30px;
}

.introImg {
    width: 500px;
    height: 200px;
    object-fit: cover;
    /*border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;*/
}

/* Bonsai Types */
.bonsaiTypes {
    background-color: #fff;
    height: 600px;
    align-items: center;
    padding: 30px;
    color: #1f2937;
}

.bonsaiTypes h1 {
padding: 30px;
font-size: 45px;
}

.cuadritos {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.juls {
    display:flex;
    width: 400px;
    height: 400px;
    font-size: 30px;
    flex-direction: column;
}

.juls img {
    border-radius: 30px;
    border: 6px solid #DD2A7B;  

}

.juls p {
    padding: 12px;
}


/* Aca s3b4d3v intento mentirle a Kaizen1G, y falló
.juls p {
    padding-top: 200px;
}


/* Quote */
.quote {
    background-color: #E5E7EB;
    color: #1f2937;
    padding-top: 120px;
    padding-bottom: 50px;
    align-items: center;
}

.quote p {
    font-size: 60px;
    font-style: italic;
    font-weight: lighter;
}

.quoteSignature {
    background-color: #E5E7EB;
    color: #1f2937;
    padding-bottom: 30px;
    padding-right: 300px;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

/* Social */
.social {
    background-color: #fff;
    color:#fff;
    padding: 100px;
    align-items: center;
    width: auto;
}

.socialTodo {
    display:flex;
    background-color: #DD2A7B;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.socialRect {
    padding: 60px;
}

.socialRect h1 {
    text-align: left;
}

.socialRect p {
    text-align: left;
    font-size: 30px;
}

.socialButton a {
    background-color: #DD2A7B;
    text-align:end;
    color:#fff;
    text-decoration: none;
    border-color: #fff;
    font-size: 30px;
    border-radius: 25px;
    border: 4px solid #fff;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
}

/* Footer */
.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    font-family: 'Roboto' arial;
    font-size: 30px;
    padding: 100px;
}

.responsive {
    width: 100%;
    height: auto;
}